    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

    body {
        font-family: Lato, sans-serif;
        font-weight: 300;
        color: #3a3a3a;
        background-color: rgb(245, 245, 245);
      }
      
      a {
        color: #000;
      }
      
      /* header */
      
      .header {
        background-color: #d5f3fe;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
        position: fixed;
        width: 100%;
        z-index: 3;
      }
      
      .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #d5f3fe;
      }
      
      .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
      }
      
      .header li a:hover,
      .header .menu-btn:hover {
        background-color: #f4f4f4;
      }
      
      .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
      }
      
      /* menu */
      
      .menu {
        display: flex;
        justify-content: end;
        background-color: #fafafa;
        width: 80%;
        position: absolute; 
        right: 0;
        /* clear: both;
        max-height: 0; */
        transition: max-height .2s ease-out;
      }
      
      /* menu icon */
      
      .menu-icon {
        cursor: pointer;
        display: none;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
      }
      
      .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }
      
      .header .menu-icon .navicon:before,
      .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
      .header .menu-icon .navicon:before {
        top: 5px;
      }
      
      .header .menu-icon .navicon:after {
        top: -5px;
      }
      
      /* menu btn */
      
       .menu-btn {
        display: none;
      }
      
      .header .menu-btn:checked ~ .menu {
        max-height: 240px;
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      
      .header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-image: url('../images/kiter9.jpg');
    background-position: center;




    /* animateion zooms effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


/*creates the level of zoom on the hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);

    }
}



#cover-text {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: #679bbe;

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* club ethos*/

#club-ethos {
    height: 600px;
}

#club-ethos h2 {
    color: rgb(243, 161, 175);
}

#club-ethos h1 {
        color: rgb(161, 194, 243);
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid#eaf0f3;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
    color: rgb(102, 112, 170);
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/kiter2.jpeg');
    height: 100%;
    border-radius: 50%;
}


#times {
    background-image: url('../images/kiter8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding-top: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;

}

#times h2 {
    color: #fafafa;
}

#times h3 {
    color: #fafafa;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
        color: rgb(102, 112, 170);
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }

    
   
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    
    .header .menu-icon {
        display: inline-block;
      }

    .menu {
        position: static;
        display: block;
        clear: both;
        max-height: 0;
        width: 100%;
    }

    .signup-form {
        width: 500px;
    }

}

#cover-text {
    left: 0;
}

#club-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading,
.right-about-heading {
    width: inherit
}

.left-about-heading h2,
.right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p,
.right-about-heading p {
    text-align: center;
    padding: 20px;
}

#photos {
    column-count: 3;
}

/*for smaller screens sizes 800px */

@media screen and (max-width: 800px) {

    #photos {
        column-count: 2;
    }
    .header .menu-icon {
        display: inline-block;
      }

}



/* Sign up page */

#signup-form {
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    color: #404040;
}

.signup-form label,
.signup-form h2 {
    color: #404040;
}

#Lets-Go {
    color: rgb(232, 241, 241);
    background-color: rgb(82, 82, 173);
    padding: 2%;
}

/* maps */
#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}


/* win a booking */

input[list=coffees] {
    width: 45%;
}

select {
    width: 100px;
    padding-left: 10px;
}

form {
    width: 700px;
    padding: 25px;
    border-radius: 8px;
    margin: 25px auto;
    background-color: white;
    color: darkslategray;
}

#Enter-Form {
    color: rgb(232, 241, 241);
    background-color: rgb(74, 74, 202);
    padding: 2%;

}

#Reset-Form {
    color: rgb(232, 241, 241);
    background-color: rgb(90, 90, 211);
    padding: 2%;

}

.block-label {
    display: block;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

/* README Images */

#Wires {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
}

#photos>img {
    width: 80%;
}


